.sidebar
{
    background-color: #f9f0be;
}

.titulo
{
    font-size: 18px;
    text-align: center;
}

.comentario
{
    font-size: 14px;
    list-style: none;
}

.lista
{
    padding: 7px;
}

.postLink
{
    color: #fda6c9;
}