<div class="container-fluid contact-us-container">
    <div class="row contenedor"><app-side-bar class="col-3 navbar-fixed-left" ></app-side-bar>
        <div class="container col">
            <h1 class="titulo">Formulario de contacto</h1>
            <h4>Tenes alguna duda, consulta, o sugerencia?</h4>
            <form class="contenido" [formGroup]="form">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="nombreContacto" class="col-form-label">Nombre</label>
                        <input type="text" id="nombreContacto" class="form-control" formControlName="nombreContacto" placeholder="Tu nombre" >
                        <span class="form-text form-validation" *ngIf="form.get('nombreContacto').errors?.required && form.get('nombreContacto').touched">Este campo es requerido</span>
                        <span class="form-text form-validation" *ngIf="form.get('nombreContacto').errors?.pattern">Solo puede ingresar letras</span>                                             
                        <span class="form-text form-validation" *ngIf="form.get('nombreContacto').errors?.minlength && form.get('nombreContacto').touched">Este campo requiere al menos tres caracteres.</span>
                    </div>
                    <div class="form-group col-6">
                        <label for="apellidoContacto" class="col-form-label">Apellido</label>
                        <input type="text" class="form-control" formControlName="apellidoContacto" id="apellidoContacto" placeholder="Tu apellido" >
                        <span class="form-text form-validation" *ngIf="form.get('apellidoContacto').errors?.required && form.get('apellidoContacto').touched">Este campo es requerido</span>
                        <span class="form-text form-validation" *ngIf="form.get('apellidoContacto').errors?.pattern">Solo puede ingresar letras</span>
                        <span class="form-text form-validation" *ngIf="form.get('apellidoContacto').errors?.minlength && form.get('apellidoContacto').touched">Este campo requiere al menos tres caracteres.</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="emailContacto" class="col-form-label">Correo Electronico</label>
                        <input type="text" id="emailContacto" class="form-control" formControlName="emailContacto" placeholder="Tu correo electronico">
                        <span class="form-text form-validation" *ngIf="form.get('emailContacto').errors?.required && form.get('emailContacto').touched">Este campo es requerido</span>
                        <span class="form-text form-validation" *ngIf="form.get('emailContacto').errors?.pattern  && form.get('emailContacto').touched">Ingrese una direccion de correo valida</span>
                    </div>
                    <div class="form-group col-6">
                        <label for="telefonoContacto" class="col-form-label">Telefono</label>
                        <input type="text" id="telefonoContacto" class="form-control" formControlName="telefonoContacto" placeholder="Tu telefono" >
                        <span class="form-text form-validation" *ngIf="form.get('telefonoContacto').errors?.required && form.get('telefonoContacto').touched">Este campo es requerido</span>
                        <span class="form-text form-validation" *ngIf="form.get('telefonoContacto').errors?.pattern">Solo puede ingresar numeros</span>
                        <span class="form-text form-validation" *ngIf="form.get('telefonoContacto').errors?.minlength && form.get('telefonoContacto').touched">Debe ingresar un numero de al menos 6 digitos</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="comentarios">Cual es el motivo de tu consulta?</label>
                        <textarea class="form-control" name="comentarios" formControlName="comentarios" id="comentarios" placeholder="..." rows="3"></textarea>
                        <span class="form-text form-validation" *ngIf="form.get('comentarios').errors?.required && form.get('comentarios').touched">Ingrese su comentario</span>
                        <span class="form-text form-validation" *ngIf="form.get('comentarios').errors?.minlength && form.get('comentarios').touched">Escriba al menos 15 caracteres</span>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Guardar</button>
                <button class="btn btn-danger" type="reset" [disabled]="form.pristine">Cancelar</button>
            </form>
        </div>
    </div>   
</div>