.contact-us-container
{
    margin-top: 60px;
}

.titulo
{
    font-size: 30px;
}

.form-validation {
    animation: 1s formAnimation forwards;
    font-size: 14px;
}

@keyframes formAnimation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
   }
}