.user-list-container
{
    margin-top: 60px;
}
.titulo
{
    font-size: 30px;
}
.lista
{
    list-style: none;
    padding: 7px;
}
a:link
{
    text-decoration: none;
    color: #fd9775;
}

a:visited
{
    color: #fda6c9;
}

a:hover
{
    text-decoration: underline;
}


