<div class="container-fluid user-list-container">
  <div class="row">
    <app-side-bar class="col-3 navbar-fixed-left" ></app-side-bar>
    <section class="col-8">  
      <h2>Lista de usuarios</h2>  
      <ul>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
        <li>Pepe</li>
      </ul>
    </section>
  </div>  
</div>