<div class="container-fluid postContainer">
    <div class="row">
        <app-side-bar class="col-3 navbar-fixed-left" ></app-side-bar>
        <section class="col-8">
            <div class="userPost" *ngIf="post">
                <h1 class="postTitle">{{ post.title | ucfirst }}</h1>
                <p class="postBody">{{ post.body }} </p>
                <a [routerLink]="['/user', post.userId]">Autor</a>
            </div>
            <div *ngIf="!post && !isLoading">
                Post not found
            </div> 
            <app-loading *ngIf="isLoading"></app-loading>
            <div class="commentBox">
                <h2 *ngIf="comments.length" class="commentBoxTitle">Comentarios:</h2>
            <div *ngFor="let comment of comments">
                <p>"{{ comment.body | ucfirst }}"</p>
                <p>Enviado por: <span class="email">{{ comment.email }}</span></p>
                <hr/>
            </div>
            <app-loading *ngIf="isLoading"></app-loading>
            <h2 *ngIf="!comments.length && !isLoading" class="commentBoxTitle">Aun no hay ningun comentario :(</h2>
        </div>
        </section>
    </div>
</div>

  