.all-posts-container
{
    margin-top: 60px;
}

.article 
{
    border-left: 6px solid #fbe2a6;
    background-color: #f9f0be
}

.titulo
{
    font-size: 30px;
}

.lista
{
    list-style: none;
    padding: 7px;
}
