<nav class="navbar navbar-expand fixed-top navbar-dark" >
    <a class="navbar-brand" href="#">Blog Angular</a>
    <div class=" navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/userList">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutUs">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro">Registrate!</a>
            </li>
        </ul>
    </div>
</nav>